@use "../base/variables";

@mixin flex($direction, $align, $justify, $gap) {
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

.profile-card {
  position: relative;
  border: 1px solid variables.$border-color;
  padding: 30px;
  border-radius: 30px;
  max-width: 750px;
  margin: 0 auto;
  color: white;


  display: flex;
  @include flex(column, normal, center, 0);

  .profile-card-header {
    display: flex;
    @include flex(row, center, space-between, 40px);

    .profile-name {
      position: relative;
      font-family: variables.$font-montserrat;
      font-size: 2em;
      font-weight: 700;

      sup {
        position: absolute;
        top: 0;
        right: -25px;
        width: 22px;
        height: 22px;
        border: 1px solid white;
        border-radius: 50%;
        font-size: 0.35em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
      }
    }

    .profile-title {
      font-family: variables.$font-sans;
      font-size: 0.9em;
      text-align: end;
    }
  }

  .profile-image-container {
    width: 100%;
    max-width: 300px;
    margin: 3rem auto;
    img {
      border-radius: 25px;
    }
  }

  .profile-location {
    margin-block: 0 2rem;
    font-family: variables.$font-sans;
    text-align: center;
    font-size: 1.35em;
    font-weight: 500;
  }

  .copyright-text {
    color: variables.$font-gray;
    font-family: variables.$font-sans;
    font-size: 0.75em;
    text-align: center;
  }

  .profile-social-links {
    margin-block: 2rem;
    align-self: center;
    display: flex;
    @include flex(row, center, none, 20px);

    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid variables.$border-color;
      color: variables.$border-color;

      font-size: 1.2em;
      display: flex;
      @include flex(row, center, center, 0);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: variables.$accent-color;
        border-color: variables.$accent-color;
      }

      &:focus {
        color: variables.$accent-color;
        outline: none;
        border-color: variables.$accent-color;
      }
    }
  }

  .hire-me-btn {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid variables.$accent-color;
    background-color: variables.$accent-color;
    font-family: variables.$font-sans;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-decoration: none;
    @include flex(row, center, center, 10px);
    transition: all 0.2s ease-in-out;

    i {
      font-size: 1.1em;
    }

    &:hover {
      color: white;
      background-color: transparent;
    }

    &:focus {
      outline: 2px solid variables.$accent-color;
      outline-offset: 2px;
    }
  }
}

@media screen and (min-width: 1230px) {
  .d-profile-card {
    display: block;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1350px) {
  .d-profile-card {
    width: 100%;
    max-width: 400px;
    padding: 45px;
    left: 25px;
    z-index: 10;

    .profile-social-links {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1500px) {
  .d-profile-card {
    width: 100%;
    max-width: 450px;
    padding: 45px;
  }
}
