/* ---
Grid Line Animation
--- */
.line-col-1 {
  animation: slide-down 2s ease-in-out both;
}

.line-col-2 {
  animation: slide-down 2s 1s ease-in-out both;
}

.line-col-3 {
  animation: slide-down 2s 1.5s ease-in-out both;
}

.line-col-4 {
  animation: slide-down 2s 2s ease-in-out both;
}

.line-col-5 {
  animation: slide-down 2s 2.5s ease-in-out both;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* ---
  Header Animation
  --- */

.navbar-brand {
  animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

/* ---
  Home  Section
  --- */

.name-title {
  animation: fade-in-left 3s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ---
  Footer Section
  --- */

.footer-section-container {
  animation: swing-in-bottom-bck 2s 2.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
}

@keyframes swing-in-bottom-bck {
  0% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
