@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {
  --border-line: #49546434;
  --primary-color: #f8f9fa;
  --secondary-color: #3e92cc;
  --third-color: #2e3440;

  --font-clr: #202020;

  /* --third-color: */

  --font-heading: "Prompt", sans-serif;
  --font-paragraph: "Quicksand", sans-serif;
  --font-alternate-01: "Montserrat", sans-serif;
  --font-alternate-02: "Bodoni Moda", serif;
}

/* ---
Main Code Starts From Here
--- */
body {
  background-color: var(--primary-color);
}

/* ---
Border Lines
--- */
.line-container {
  position: fixed;
  top: 0;
  left: 0;
}

.line {
  position: absolute;
  width: 20vw;
  height: 100vh;
  border-right: 1px solid var(--border-line);
  z-index: -1;
  top: 0;
  vertical-align: top;
}

.line-col-2 {
  left: 20vw;
}

.line-col-3 {
  left: 40vw;
}

.line-col-4 {
  left: 60vw;
}

.line-col-5 {
  left: 80vw;
}

/* ---
Site White Frame
--- */

.site-frame {
  min-height: 100dvh;
}

/* ---
Header Section
--- */

.header-section {
  width: 100%;
  position: fixed;
  top: 20px;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.navbar-brand > img {
  width: max(40px, 60px);
}

.navbar-brand:focus {
  outline: 2px solid #2e3440;
  outline-offset: 2px;
}

/* ---
Home Section
--- */

.home-section {
  min-height: 100dvh;
}

.home-section-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-title {
  font-family: var(--font-alternate-01);
  font-size: clamp(2em, 4vw, 4em);
  font-weight: 600;
  color: var(--font-clr);
  max-width: 900px;
  margin: 0px 40px;
}

.name-title > strong {
  color: var(--secondary-color);
}

.work-designation {
  font-size: clamp(0.5em, 1.5vw, 1em);
  color: var(--secondary-color);
  font-family: var(--font-paragraph);
  font-weight: 400;
}

/* ---
Footer Section
--- */

.footer-section {
  width: 98%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.footer-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.copyright-p {
  font-size: clamp(0.6em, 0.8vw, 0.8em);
  font-family: var(--font-paragraph);
  margin-left: 15px;
}

.under-devlopment {
  position: relative;
  top: 10%;
  color: var(--font-clr);
  font-family: var(--font-paragraph);
  font-weight: 900;
  font-size: clamp(1em, 2vw, 1.8em);
  text-align: center;
}

.social-media-cont {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 15px;
}

.mobile {
  display: none;
}

.fa-brands {
  color: var(--font-clr);
  transition: all ease-in-out;
  font-size: clamp(0.9em, 1.5vw, 1.1em);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fa-brands:hover {
  color: var(--secondary-color);
  transform: scale(1.4);
}

.social-media-cont > a:focus {
  outline: 2px solid #2e3440;
  outline-offset: 3px;
}

/* ---
Media Queries
--- */

@media (max-width: 1024px) {
  /* ---
  Border Lines 
  --- */
  .line-col-2 {
    left: 30vw;
  }

  .line-col-3 {
    left: 60vw;
  }

  .line-col-4 {
    display: none;
  }
}

@media (max-width: 600px) {
  /* ---
  Border Lines 
  --- */
  .line {
    display: none;
  }
  /* ---
  Home Section Title
  --- */
  .name-title {
    font-size: clamp(1.5em, 4vw, 4em);
  }

  /* ---
  Footer Section
  --- */

  .desktop {
    display: none;
  }

  .footer-section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright-p {
    display: none;
  }
}

@media (max-width: 200px) {
  /* ---
  Border Lines 
  --- */

  /* ---
  Header Section
  --- */
  .header-section {
    top: 4px;
  }

  .header-container {
    padding: 0.1em;
  }

  .navbar-brand {
    font-size: 0.5em;
  }

  /* ---
  Home Section
  --- */

  .name-title {
    font-size: 0.65em;
  }

  .work-designation {
    font-size: 0.1em;
  }

  /* ---
  Footer Section
  --- */
  .footer-section {
    width: 98%;
    height: 10px;
    left: 0;
    right: 0;
    bottom: 12px;
  }

  .footer-section-container {
    padding: 0px;
    justify-content: center;
  }

  .under-devlopment {
    font-size: 0.2em;
    padding: 0px;
    margin: 0px 0px;
  }

  .mobile {
    display: none;
  }
}
