// Dark Theme

$dark-bg-color: #0c0c0c;
$dark-secondary-bg: #191919;
$accent-color: #eb5e28;
$font-gray: #adb5bd;
$border-color: #495057;

$font-sans: "Open Sans", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
